---
import { Github, Mail } from "lucide-astro";

interface Props {
	title: string;
	description: string;
	tags: Array<String>;
	links: Array<Object>;
}

const { title, description, tags, links } = Astro.props;
---

<div class="card">
	<h4>{title}</h4>
	<p>
		{description}
	</p>
	<div class="footer">
		<div class="tags">{tags.map((tag) => <span>{tag}</span>)}</div>
		<!-- <div class="links">
			{links.map((link) => <p>{Object.values(link)}</p>)}
		</div> -->
	</div>
</div>

<style>
	.card {
		border-radius: 8px;
		padding-right: 15px;
		padding-left: 15px;
		padding-bottom: 5px;

		border: 1.3px solid rgba(255, 255, 255, 0.281);
		max-width: 500px;
	}
	.footer {
		display: flex;
		justify-content: space-between;
	}

	.tags {
		display: flex;
		gap: 0.5rem;
	}

	.tags span {
		color: rgba(255, 255, 255, 0.918);
		height: 30px;
		border-radius: 8px;
		padding: 5px;

		background-color: rgba(255, 255, 255, 0.164);
	}
</style>
