---
import Card from "../components/Card.astro";
---

<div class="container">
    <div class="title-container"><h3>Projects</h3></div>
    <Card
        title="The Movie Picker"
        description="Web app for picking a movie from the RTVE catalog based on user's preferences."
        tags={["Angular", "Fastify"]}
        github="https://github.com/diegorebollo/TheMoviePicker"
        web="https://movies.drebollo.com"
    />
    <Card
        title="Horarios de Autobuses"
        description="Complete redo of 'Horarios de Autobuses' using JavaScript. Web app to search for bus schedules from Cáceres bus station."
        tags={["Angular", "Fastify"]}
        github="https://github.com/diegorebollo/HorariosdeAutobuses"
        web="https://bus2.drebollo.com"
    />
    <Card
        title="PicoPump"
        description="A tool to trigger a relay using a water sensor. Comes with a built in local web-server for configuring and monitoring."
        tags={["Python", "Microcontroller"]}
        github="https://github.com/diegorebollo/PicoPump"
    />
    <Card
        title="PicoLamp"
        description="Enables control of an addressable LED strip via touch commands and integration with Home Assistant using MQTT."
        tags={["Python", "Microcontroller"]}
        github="https://github.com/diegorebollo/PicoLamp"
    />
    <Card
        title="Horarios de Autobuses (Django)"
        description="Simple and responsive web application to search for bus schedules from Cáceres bus station."
        tags={["Python", "Django"]}
        github="https://github.com/diegorebollo/BuscadordeAutobuses"
        web="https://bus.drebollo.com"
    />
    <Card
        title="PicoPower"
        description="A simple tool for ATX power control, auto-starting based on machine ping response."
        tags={["Python", "Microcontroller"]}
        github="https://github.com/diegorebollo/PicoLamp"
    />

    <style>
        .container {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding-left: 10px;
        }

        h3 {
            margin-bottom: 8px;
            font-size: 1.8rem;

            color: rgb(0, 0, 0);
            background-color: rgb(255, 255, 255);
            width: 120px;
            text-align: center;
        }

        h3::selection {
            color: white;
            background-color: black;
        }

        .title-container {
            display: flex;
            width: 100%;
        }

        @media screen and (max-width: 1160px) {
            .container {
                padding-left: 0px;
                align-items: center;
            }

            .title-container {
                justify-content: center;
            }
        }

        @media screen and (max-width: 623px) {
            .title-container {
                justify-content: left;
            }
        }
    </style>
</div>
